---
layout: default
---

<div class="post-header-container {% if page.cover %}has-cover{% endif %}" {% if page.cover %}style="background-image: url({{ page.cover | prepend: site.baseurl }});"{% endif %}>
	<div class="scrim {% if page.cover %}has-cover{% endif %}">
    </div>
</div>
<div class="wrapper">
<div class="page">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% include page_divider.html %}

  <article class="post-content">
    {{ content }}
  </article>

</div>
</div>
